<div id="maintenance-wrapper">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="content-wrapper">
      <div class="logo">
        <img src="{{ directory }}/misc/BRS-logo-4C-light.svg" alt="Barn Removal Services">
      </div>
      <h1>You broke it!</h1>
      <p>Just kidding. We're down for some maintenance, but we should be back shortly!</p>
      <p>In the meantime, check out what we're up to.</p>
      <div class="links">
        <a class="fa fa-facebook-official" aria-hidden="true" href="https://www.facebook.com/BarnRemovalServices/?ref=aymt_homepage_panel"></a>
        <a class="fa fa-youtube-square" aria-hidden="true" href="https://www.youtube.com/channel/UCClMfsa4r7NUS8DxIpg7YDg"></a>
      </div>

      <a class="phone" href="tel:14139493431">413.949.3431</a>
    </div>{# /.layout-content #}

  </main>
</div>{# /.layout-container #}
