<footer id="main-footer">
  <div class="footer-top">
    <div class="to-the-top">
      Back to Top <i class="fa fa-level-up" aria-hidden="true"></i>
    </div>
    {{ page.footer }}
  </div>


  <div class="footer-mid">
    <p class="copyright">Copyright &copy; 2017 Barn Removal Services, Inc.
    <br /><a href="{{ url('<front>') }}privacy-policy">Privacy Policy</a></p>

    <p class="company-info"><strong>Barn Removal Services, Inc</strong>
    <br />P.O. Box 60504
    <br />Florence, MA 01062
    <br /><a href="tel:14139493431">413.949.3431</a></p>
  </div>
  <div id="cookie-popup">
    <div class="container">
      <span>BarnRemovalServices.com uses cookies to improve user experience. By using our website you consent to all cookies. <a href="{{ url('<front>') }}privacy-policy">Mmm... cookies</a>.</span>
      <div class="button-small">I like cookies</div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  Designed by <a href="http://ardesignme.com">AR Design</a>
</div>
